<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
  <link rel="stylesheet" href="../static/css/style.css">
  
</head>

<body>
  <div class="container">
    <h1>Todo App</h1>
    <ul class="todo-list">
      <!-- Todo items will be dynamically added here -->
    </ul>
    <div class="add-todo">
      <input type="text" id="new-todo" placeholder="Enter a new todo">
      <button id="add-button">Add</button>
    </div>
  </div>
  <script src="../static/js/script.js"></script>
</body>

</html>
